@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

main {
    font-family: 'Roboto', sans-serif;
    color: #445A72;
}

form {
    width: 275px;
    padding: 20px;
    background-color:#A9BFD7;
    margin: 0 auto;
    border-radius: 15px;
}

select, input[type="number"], table {
    width: 90%;
    height: 25px;
    margin: 10px;
}

h1 {
    text-align: center;
}

p {
    font-size: .8em;
    font-style: italic;
    color: rgb(49, 49, 49);
}

#button > input {
    margin-left: 55%;
    background-color: #8F5F27;
    color: white;
}



table > thead {
    background-color: #3A81AE;
    color: white;
}

table > tbody {
    background-color: white;
}